<%- include ('../partials/header.ejs') %>
<%- include ('../partials/main_nav.ejs') %>

<main class="users-container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <h1>Contact List</h1>

            <% if (typeof displayName == 'string' && displayName) { %>
                <a href="/user-lists/add" class="btn btn-primary" role="button">
                    <i class="fas fa-plus-circle"></i>Add new user
            </a>
            <% } %>
            <br>
            <table class="table table-bordered table-striped table-hover table-dark">
                <!-- Header row -->
                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Contact</th>
                    <% if (typeof displayName == 'string' && displayName) { %>
                        <th class="text-center"></th>
                        <th class="text-center"></th>
                    <% } %>
                </tr>

                <!-- Repeatable Templete Row -->
                <% for(let count = 0; count < userList.length; count++) { %>
                    <tr>
                        <td class="text-center"> <%= userList[count].Name %> </td>
                        <td class="text-center"> <%= userList[count].Email %> </td>
                        <td class="text-center"> <%= userList[count].Contact %> </td>
                        <% if (typeof displayName == 'string' && displayName) { %>
                            <td class="text-center">
                                <a href="/user-lists/edit/<%= userList[count]._id %>" class="btn btn-primary btn-small">
                                <i class="fas fa-pencil-alt"></i> Edit</a>
                            </td>
                            <td class="text-center">
                                <a href="/user-lists/delete/<%= userList[count]._id %>" class="btn btn-danger btn-small">
                                <i class="fas fa-trash-alt"></i> Delete</a>
                            </td>
                        <% } %>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
</main>


<%- include ('../partials/bottom_nav.ejs') %>
<%- include ('../partials/footer.ejs') %>